/* You can add global styles to this file, and also import other style files */
/* src/styles.css or src/styles.scss */

body {
    font-family: 'Arial', sans-serif; /* Example: Using Arial */
    font-size: 16px; /* Set default font size */
    color: #333; /* Set default text color */
  }
  